@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif ;
}
.Navbar{
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 15px;
    padding-left: 20px;
   

}
.Navdiv{
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    color: white;
    font-weight: 600;
    font-size: 30px;
}
li
{
    list-style: none;
    display: inline-block;
}
li a{
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}

button {
background-color: gray;
color: white;
margin-left: 10px;
padding: 10px;
border-radius: 10px;
width: 90px;
}
button a{
    color: white;
    font-weight: bold;
}
.Divyam{
    height:100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    
}

.base{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style:preserve-3d;
    z-index: -1;
}
.background{
    transform: translateZ(-40px) scale(5);
}
.foreground{
    transform: translateZ(-20px) scale(2);
}
.background, .foreground{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit:cover;
    z-index:-1;
}



h1{
    position:absolute;
    top: 0; 
    font-size: 5rem;
    letter-spacing: 2px;
    color: rgb(199, 10, 10);
    text-shadow: 0 0 10px rgba(187, 73, 73, 0.3);
}

section{
    background-color: rgba(45,45,45);
    color: white;
    padding: 5rem 0;
}

.para{
    font-size:5rem;
    padding: 0 10rem;
}
.ul{
    font-size:2rem;
    padding: 0 14rem;
    list-style-type: disc;
}
.ul li{
        
    margin-top: 10px;
}
.para-sf{
    font-size: 3rem;
    padding:0 10rem;
    
}
.text{
    font-size: 1.5rem;
    margin:5rem 0;
    padding: 0 10rem;
}

.bg{
    position:relative;
    width:100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 800px;
}
.bg1{
    background-image: url(buggati.webp);
}
.bg2{
    background-image: url(Lambo.jpg);
}
.bg3{
    background-image: url(mclaren.webp);
}
.bg4{
    background-image: url(rangerover.webp);
}
.bg5{
    background-image: url(Rolls-Royce.jpg);
}
.contact{
    color: #fff;
    position:relative;
    min-height: 100vh;
    padding:50px 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(pexels-photo-975399.jpeg);
    background-size: cover;
}
.contact .container h2
{
 font-size: 36px;
 font-weight: bold;
display: flex;
align-items: center;
justify-content: center;
 color:#fff;
}
.contact .container p{
    
    font-weight: 300;
    color:#fff;
   }
   .more {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
   }
   .more .moreinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
   }
   .more .moreinfo .more3{
    position: relative;
    padding: 20px 0;
    display:flex;

   }
   /* .more .moreinfo .more3 .more5{
min-width: 60px;
height: 60px;
background: #fff;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
font-size:22px;
   } */
.more .moreinfo .more3 .more4{
    display:flex;
    margin-left: 20px;
    font-size: 16px;
    color:#fff;
    flex-direction: column;
    font-weight: 300;
}   
.more .moreinfo .more3 .more4 h3{
    font-weight: 500;
    color:#00bcd4
}
.contactForm{
    width: 40%;
    padding: 40px;
    background:#fff;

}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: bold;
}
 .contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
 }
 .contactForm .inputBox input,
 .contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none ;
  resize: none;

 }
 .contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;

 }
 .contactForm .inputBox input:focus ~ span,
 .contactForm .inputBox input:valid ~ span{
    color: #e91e63;
 font-size: 12px;
 transform: translateY(-20px);
 }
 .contactForm .inputBox textarea:focus ~ span,
 .contactForm .inputBox textarea:valid ~ span{
 color: #e91e63;
 font-size: 12px;
 transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

